body {
	background: #3A9AF2;
	background-attachment: fixed;
	margin: 0;
    height: 100%;
}

.logo {
	margin: 25 auto 0;
	text-align: center;
}

/* CSS FROM OFFCANVAS.CSS */
#nav li a {
  display: block;
  color: #fff;
  font-size: 0.8em;
  line-height: 1.28571em;
  font-weight: bold;
  outline: none;
}

.block {
  position: relative;
  margin: 0 auto;
  padding: 1.5em 1.25em;
  max-width: 768px;
}

.main-footer {
    background: green;
    border: none;
    padding: 25px 0 15px !important;
}

@media screen and (min-width: 768px) {

body {
	background: linear-gradient(#3A9AF2, #EEE9E9);
	background-attachment: fixed;
	margin: 0;
    height: 100%;
}	
    
.logo {
		max-width: 440px;
		margin: 25px auto 0;
	}

    /* CSS FROM OFFCANVAS.CSS */
    #nav li a {
        display: block;
        color: #fff;
        font-size: 1em;
        line-height: 1.28571em;
        font-weight: bold;
        outline: none;
    }

    .block {
        position: relative;
        margin: 0 auto;
        padding: 1.5em 1.25em;
        max-width: 1100px;
    }
    
}


@media screen and (min-width: 1400px) {
    
    /* CSS FROM OFFCANVAS.CSS */
    #nav li a {
        display: block;
        color: #fff;
        font-size: 1.4em;
        line-height: 1.28571em;
        font-weight: bold;
        outline: none;
    }

    .block {
        position: relative;
        margin: 0 auto;
        padding: 1.5em 1.25em;
        max-width: 1600px;
    }
    
}